<div class="card shadow-lg p-3 mb-5 bg-body rounded col-sm-6 offset-sm-3">
    <h3 style="width: auto;" class="text-center">Edit Profile</h3>
    <div class="container">
        <form (ngSubmit)=" updateCustomerprofile()">
            <div class="form-group pb-3">
                <span class="label-input100"><em class="fas fa-image"></em> Upload Profile Image </span>
                <input type="file" class="form-control mt-2" id="bikeImage" (change)="onChange($event)" name="bikeImage"  placeholder="Upload your profile image" >
                
            </div>
            <div class="form-group pb-3">
                <label for="formGroupExampleInput"><em class="fas fa-user"></em><strong> Name</strong></label>
                <input type="text" class="form-control" id="name" name="customerName" [(ngModel)]="customer.userName" placeholder="Enter your name">
            </div>
                        
            <div class="form-group pb-3">
                <label for="formGroupExampleInput"><em class="fas fa-address-card"></em><strong> Address</strong></label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="renterAddress" [(ngModel)]="customer.address" placeholder="Address">
            </div>
            <div class="form-group pb-3">
                <label for="formGroupExampleInput2"><em class="fas fa-phone-alt"></em><strong> Mobile Number</strong></label>
                <input type="number" class="form-control" id="formGroupExampleInput2" name="mobileNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="10" maxlength = "10" [(ngModel)]="customer.mobileNumber"  placeholder="9876543210">
            </div>

            <div class="form-group pb-3">
                <label for="formGroupExampleInput"><em class="fas fa-users"></em><strong> Gender</strong></label>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="male" [(ngModel)]="customer.gender" id="gridRadios1" value="Male" checked>
                    <label class="form-check-label" for="gridRadios1">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="female" [(ngModel)]="customer.gender" id="gridRadios2" value="Female">
                    <label class="form-check-label" for="gridRadios2">Female </label>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" >Update profile</button>
            </div>
           
        </form>
       
    </div>
</div>