<div class="row">
    
  </div>

  <div class="container-fluid">
   
    <h4 class="pb-2">Do you want to calculate revenue for specific date?</h4>
    <div class="card  shadow p-2 mb-4 bg-white rounded p-3">
      <div class="row">
        <div class="form-group col-md-2">
          <label for="inputStartDate" class="text-black">Start Date :</label>
          <input type="date" [(ngModel)] = "startdate" class="form-control" id="inputPassword2" placeholder="Start Date">
        </div> 
        <div class="form-group col-md-2 "> 
          <label for="inputEndDate" class="text-black">End Date :</label>
          <input type="date" required [(ngModel)] = "enddate" class="form-control" id="inputPassword2" placeholder="End Date" >
        </div>
        <div class="form-group col-md-2 pt-4">
            <button type="submit" (click)="revenueCalculator()" class="btn btn-info form-control">Calculate Revenue</button>
        </div>
        <div class="form-group col-md-3">
          <h5 class="text-black mx-sm-3 pt-4">Revenue generated : ₹ {{revenue}} </h5>
        </div>
        <div class="form-group col-sm-3">
          <div class="card bg-warning car-responsive">
            <div class="card-body text-center">
              <h5>Total Earnings : ₹ {{earnings}}</h5>
            </div>
          </div>
        </div>
        </div>
    </div>

  <div class="container-fluid">
    <h3 class="text-center pt-3 pb-2">Booking History</h3>
      <div class="row d-flex">
          <div class="col-lg-12">
              <div class="card shadow p-2 mb-4 bg-white rounded  table-responsive">
                <table class="table table-striped table-hover table-responsive" id="bookingTable">
                  <Caption></Caption>
                      <thead class="table-dark text-nowrap">
                        <tr class="text-center">
                          <th scope="col">S.No</th>
                          <th scope="col">Booking Id</th>
                          <th scope="col">Customer name</th>
                          <th scope="col">Brand name</th>
                          <th scope="col">Model name</th>
                          <th scope="col">Booking Date</th>
                          <th scope="col">Booking end date</th>
                          <th scope="col">Total amount</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                    
                    <tbody class="text-center">
                        <tr *ngFor="let booking of bookingObj; index as i" >
                          <td>{{i+1}}</td>
                          <td>{{booking.bookingId}}</td>
                          <td>{{ booking.customerName}}</td>
                          <td>{{ booking.brandName}}</td>
                          <td>{{ booking.modelName}}</td>
                          <td>{{ booking.bookingDate}}</td>
                          <td>{{ booking.endDate}}</td>
                          <td>{{ booking.totalAmount}}</td>
                          <td>
                            <div *ngIf= "forOngoing(booking.bookingDate,booking.endDate)">
                              <button type="button" disabled class="btn btn-success btn-sm">Ongoing</button>
                            </div>
                            <div *ngIf= "forCancel(booking.bookingDate)">
                              <button type="button" disabled class="btn btn-danger btn-sm">Booked</button>
                            </div> 
                            <div *ngIf= "forCompleted(booking.endDate)">
                              <button type="button" disabled class="btn btn-secondary btn-sm">Completed</button>
                             </div> 
                          </td>  
                        </tr>
                    </tbody> 
                </table>
              </div>
          </div>
      </div>
  </div>
  
  