<div class="card shadow-lg p-3 mb-5 bg-body rounded col-sm-6 offset-sm-3">
  <h3 style="width: auto;" class="text-center">Add Bikes</h3>
<div class="container">
  <div [hidden]="submitted">
    <form  #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group pb-3" [class.has-error]="control.invalid">
        <label for="name" class="control-label"><em class="fas fa-motorcycle"></em> Brand Name</label>
        <input type="text" class="form-control" id="brandName" required  [(ngModel)]="bike.brandName" name="brandName" #control="ngModel">
       
        <span class="help-block" *ngIf="control.invalid && control.touched" style="color: red;"> 
          Brand Name is Required
        </span>
      </div>

      <div class="form-group pb-3" [class.has-error]="modelcontrol.invalid">
        <label for="modelName" class="control-label"><em class="fas fa-motorcycle"></em> Model Name</label>
        <input type="text" class="form-control" id="modelName" required [(ngModel)]="bike.modelName" name="modelName" #modelcontrol="ngModel">
       
        <span class="help-block" *ngIf="modelcontrol.invalid && modelcontrol.touched" style="color: red;"> 
          Model Name is Required
        </span>
      
      </div>

      <div class="form-group pb-3" [class.has-error]="bikeNumbercontrol.invalid">
        <label for="bikeNumber" class="control-label"><em class="fas fa-id-card-alt"></em> Bike Number</label>
        <input type="text" class="form-control" id="bikeNumber" required  [(ngModel)]="bike.bikeNumber" name="bikeNumber" #bikeNumbercontrol="ngModel">
      
        <span class="help-block" *ngIf="bikeNumbercontrol.invalid && bikeNumbercontrol.touched" style="color: red;"> 
           Bike Number is Required
        </span>
      </div>

      <div class="form-group pb-3" [class.has-error]="pickUpLocationcontrol.invalid">
        <label for="pickUpLocation" class="control-label"><em class="fas fa-map-marker-alt"></em> Pickup Location</label>
        <input type="text" class="form-control" id="pickUpLocation" required [(ngModel)]="bike.pickUpLocation" name="pickUpLocation" #pickUpLocationcontrol="ngModel">
      
        <span class="help-block" *ngIf="pickUpLocationcontrol.invalid && pickUpLocationcontrol.touched" style="color: red;"> 
          Pickup Location is Required
        </span>
      </div>
      <div class="form-group pb-3" [class.has-error]="availabilitycontrol.invalid">
        <label for="availability" class="control-label"><em class="fas fa-check-circle"></em> Availability</label>
        <input type="text" class="form-control" id="availability" required  [(ngModel)]="bike.availability" name="availability" #availabilitycontrol="ngModel">
     
        <span class="help-block" *ngIf="availabilitycontrol.invalid && availabilitycontrol.touched" style="color: red;"> 
          Availability is Required
        </span>
      </div>
  
      <div class="form-group pb-3">
        <span class="label-input100"><em class="fas fa-image"></em> Upload Profile Image </span>
        <input type="file" class="form-control mt-2" id="bikeImage" (change)="onChange($event)" name="bikeImage"  placeholder="Upload your profile image" >
      </div>

      <div class="form-group pb-3" [class.has-error]="rentAmountcontrol.invalid">
        <label for="rentAmount" class="control-label"><em class="fas fa-usd-circle"></em> Rent amount</label>
        <input type="text" class="form-control" id="rentAmount" required [(ngModel)]="bike.rentAmount" name="rentAmount" #rentAmountcontrol="ngModel">
     
        <span class="help-block" *ngIf="rentAmountcontrol.invalid && rentAmountcontrol.touched" style="color: red;"> 
          Rent Amount is Required
        </span>
      </div>

      <div class="form-group pb-3" [class.has-error]="descriptioncontrol.invalid">
        <label for="description" class="control-label"><em class="fas fa-comment"></em> Description</label>
        <textarea type="text" row="10" class="form-control" id="description" required [(ngModel)]="bike.description" name="description" #descriptioncontrol="ngModel" ></textarea>
        <span class="help-block" *ngIf="descriptioncontrol.invalid && descriptioncontrol.touched" style="color: red;"> 
          Description is Required
        </span>
      </div>
  <div class="text-center">
      <button type="submit" class="btn btn-success mt-2" [disabled]="!addForm.form.valid">Submit</button>
    </div>
    </form>
  </div>
</div>

  <div [hidden]="!submitted" class="text-center">
    <h4>Bike Added Successfully!</h4>
  </div>
</div>
 