<div class="card shadow-lg p-3 mb-5 bg-body rounded col-sm-6 offset-sm-3">
    <h3 style="width: auto;" class="text-center">Update Password</h3>
    <div class="container">
        <form (ngSubmit)=" updateCustomerPassword()">
           
            <div class="form-group pb-3">
                <label for="formGroupExampleInput"><em class="fas fa-user"></em><strong> Old Password</strong></label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" [(ngModel)]="oldPasswordObj.password" placeholder="Enter your old password">
            </div>
            <div class="form-group pb-3">
                <label for="formGroupExampleInput"><em class="fas fa-user"></em><strong> New Password</strong></label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="Enter your new password">
            </div>
                      
            <div class="text-center">
                <button class="btn btn-primary" type="submit" >Submit</button>
            </div>
           
        </form>
        
    </div>
</div>